<div class='chat-room-form'>
  <h1>新規チャットルーム</h1>
  <%=form_with model: @room, local: true do |f|%>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :チャットルーム名, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: 'チャットルーム名を入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <label class='chat-room-form__label' for='chat_room_チャットメンバー'>チャットメンバー</label>
      </div>
      <div class='chat-room-form__field--right'>

<%# ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー %>
      <%# select要素とoption要素を用いて、プルダウンを実装 %>
       <select name="room[user_ids][]">
       <%# 下記の記述で保存されているユーザー名がプルダウンで表示されることとなった %>
         <option value="">チャットするユーザーを選択してください</option>

          <% User.all.where.not(id: current_user.id).each do |user| %>
         <%# 上記の「.where.not(id: current_user.id)」の記述でログイン中のユーザー名は表示されない %>
         <%# モデル名.where("条件")と記述することで条件に一致したレコードを配列として取得できます。
         この記述にnotを追記したモデル名.where.not("条件")は、
         条件に一致したレコード以外の値を配列として取得できます。 %>
         
            <option value=<%=user.id%>><%= user.name %></option>
          <% end %>
       </select>
       <%# select要素のname属性にroom[user_ids][]を指定し、
       option要素のvalue属性にuser.idを指定しました。
       このように記述することで、room[user_ids][]をキーに「user.id」をコントローラー側へ送信できます。
       コントローラーに送られるparamsは以下のようになります。
       {"room[user_ids][]" => "選択したユーザーのid"} %>
<%# ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー %>

       <input name="room[user_ids][]" type="hidden" value=<%=current_user.id%>>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
